@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --azul: #002F52;
    --preto: #000000;
    --conza: #474646;
    --cinza-claro: #858585;
}

body {
    background: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .lista-rodape {
        display: block;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {
        color: var(--conza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}